# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
.pnpm/
.npm/
.yarn/

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# NOT VSCode
!.vscode/**/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
# NOT env.example
!.env.example
